@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body, [class*="css"] {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.element-container:has(iframe[height="0"]) {{
    display: None;
}}

.block-container{
    padding-left:0;
    padding-right: 0;
    padding-top: 0;
}
[data-testid="stHeader"]{
    display: none;
}

/* All the file uploader*/
[data-testid='stFileUploader'] section {
    padding: 20px;
    width: 20vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Description file uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"] > input + div {
    display: none;
}
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;
}
/*File Uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Select the dataset"] > input + div {
    margin: 0;
    padding: 20px;
}
div[data-testid='stFileUploader'] > section[aria-label="Select the dataset"]{
    width:100%;
    height: 300px;

}

/*Task Description File Uploader*/
section[aria-label="Upload task description file"] > button {
        margin-top: 4px;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 100%;
        font-family: "Inter", sans-serif;
        &::after {
            line-height: initial;
            content: "Upload Task Description File";
            text-indent: 0;
            font-weight: normal;
      }
    }

/* Run Button*/
div.stButton{
    display: flex;
    justify-content: flex-start;
    width: max-content;
    padding: 0;
    align-items: center;
}

div.stButton > button{
    background: #FFA63D;
    border: 0.75px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.75px 0.75px rgba(0, 0, 0, 0.16);
    border-radius: 3.75px;
    width: 8rem;
    height: 2rem;
}
div.stButton > button > div > p{
        font-weight: bold;
}

/*Download button*/
div.stDownloadButton > button{
    background: #FFA63D;
    border: 0.75px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.75px 0.75px rgba(0, 0, 0, 0.16);
    border-radius: 3.75px;
    width: 15rem;
    height: 2rem;
}
div.stDownloadButton > button > div > p{
        font-weight: bold;
}


/* preview.py */
.file-view-bar {
    background-color: #f0f2f6;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    margin-top:0;
}
.file-view-label {
    font-weight: bold;
    color: #555;
}

/*select box*/
div[data-baseweb="select"] {
        margin-bottom: 15px;
    }
div[data-baseweb="select"] > div {
    border: none !important;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div[data-baseweb="select"] > div:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*features.py*/
.feature-container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.feature-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

div[data-testid='stExpanderDetails'] p{
    font-size:0.8rem
}

/*tutorial.py*/
.main-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.right-section {
    flex: 1;
    color: black;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3vw;
}

.logo {
    width: 20vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2vh;
    right: 15%;
    margin-left: 2vh;
}

.title {
    font-size: 4vw;
    font-weight: bold;
    color: white;
    width: 30vw;
    height: 30vh;
    margin: 13vh 4vw 10px;
    position: relative;
}

.titleWithLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subtitle {
    font-size: 2vw;
    text-align: center;
    max-width: 80%;
    color: white;
    position: relative;
    max-height: 50px;
    padding: 1vh;
}

.get-started-title {
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 2vh;
}

.description {
    font-size: 1.3vw;
    margin-bottom: 2vh;
    padding-right: 2vw;
}

.steps {
    line-height: 3vh;
}

.steps li {
    font-size: 1.3vw;
}

/*Responsive Nav Bar*/
@media (max-width: 575px) {
    .navbar-nav {
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        font-size: 14px;
        margin-right: 8px;
        font-weight: lighter;
    }
}

/* Responsive tutorial.py*/
@media (max-width: 800px) {
    .main-container {
        height: 40vh;
        flex-direction: column;
        margin-bottom:100px;
    }

    .title {
        font-size: medium;
        width: 20vw;
        height: 5vh;
        margin-top: 3vh;
        margin-right: 2vw;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 0.7rem;
        max-width: 100%;
        max-height: 50px;
        padding: 1vh;
    }


    .logo {
        width: 8vw;
        min-width: 50px;
        right: 10%;
        margin-left: 2rem;
        top: 10px;

    }

    .get-started-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .description {
        font-size: 10px;
        margin-bottom: 10px;
        padding: 15px;
        line-height: 2.5vh;
    }

    .steps {
        font-size: 10px;
        line-height: 15px;
        padding: 0 15px;
    }

    .steps li {
        font-size: 10px;

    }

    .right-section {
        padding-left: 5vw;
        padding-top: 2vh;
    }
    }
/* Hover css for uploaded file widget*/
.header-hover {
             position: relative;
             display: inline-block;
         }

.header-hover .tooltip {
 visibility: hidden;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.8);
 color: white;
 text-align: left;
 padding: 8px;
 border-radius: 4px;
 z-index: 1000;
 width: 250px;
 top: 100%;
 left: 0;
 margin-top: 5px;
 font-size: 14px;
 opacity: 0;
 transition: opacity 0.3s;
}

.header-hover:hover .tooltip {
 visibility: visible;
 opacity: 1;
}